<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!--	<key>com.apple.security.app-sandbox</key>-->
<!--	<true/>-->
<!--	<key>com.apple.security.files.user-selected.read-only</key>-->
<!--	<true/>-->
<!--	<key>com.apple.developer.applesignin</key>-->
<!--	<array>-->
<!--		<string></string>-->
<!--	</array>-->
<!--	<key>NSAppTransportSecurity</key>-->
<!--	<dict>-->
<!--		<key>api.quotable.io</key>-->
<!--		<dict>-->
<!--			<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>-->
<!--			<true/>-->
<!--			<key>NSTemporaryExceptionMinimumTLSVersion</key>-->
<!--			<string>TLSv1.2</string>-->
<!--		</dict>-->
<!--	</dict>-->
<!--	<key>com.apple.security.network.client</key>-->
<!--	<true/>-->
</dict>
</plist>
